* {
  box-sizing: border-box;
}

body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-playertag input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 20em;
  background: #f1f1f1;
}

.form-playertag button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #ff0000;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-button:hover {
  background: #0b7dda;
}

.update-button {
  width: 10%;
  padding: 10px;
  background: #ff0000;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.form-playertag::after {
  content: "";
  clear: both;
  display: table;
}

.alert-warning {
  padding: 0.5em;
  background-color: #e8ba56;
  color: rgb(82, 56, 1);
}

.alert-success {
  padding: 0.5em;
  background-color: #a4fe7e;
  color: rgb(1, 60, 8);
}
