.form-playertag {
  background-color: #333333;
}

.form-playertag input[type='text'] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 400px;
  background: #f1f1f1;
}

.form-playertag button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #fffb00;
  color: #333333;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-button:hover {
  background: #0b7dda;
}

.update-button {
  width: 10%;
  padding: 10px;
  background: #fffb00;
  color: #333333;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.update-button-text {
  color: #fffb00;
  border-left: none;
  padding: 10px;
}

.tag-select {
  float: left;
  width: 120px;
  background-color: #fffb00;
}

.form-playertag::after {
  content: '';
  clear: both;
  display: table;
}
