.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.nav-bar li {
  float: left;
}

.nav-bar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
}
